# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
absl-py=2.0.0=pypi_0
aiohttp=3.9.0=pypi_0
aiosignal=1.3.1=pypi_0
alabaster=0.7.13=pypi_0
albumentations=1.3.1=pypi_0
anyio=4.0.0=pypi_0
appdirs=1.4.4=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=py310h2372a71_4
arrow=1.3.0=pypi_0
asttokens=2.4.1=pypi_0
astunparse=1.6.3=pypi_0
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.1.0=pypi_0
babel=2.13.1=pypi_0
backports=1.0=pyhd8ed1ab_3
backports-functools-lru-cache=1.6.5=pypi_0
backports.functools_lru_cache=1.6.5=pyhd8ed1ab_0
beautifulsoup4=4.12.2=pypi_0
binaryornot=0.4.4=pypi_0
bleach=6.1.0=pypi_0
breathe=4.35.0=pypi_0
brotli-python=1.1.0=py310hc6cd4ac_1
build=1.0.3=pypi_0
bzip2=1.0.8=h7f98852_4
ca-certificates=2023.11.17=hbcca054_0
cached-property=1.5.2=pypi_0
cached_property=1.5.2=pyha770c72_1
cachetools=5.3.1=pypi_0
captum=0.6.0=pypi_0
celluloid=0.2.0=pypi_0
certifi=2023.11.17=pypi_0
cffi=1.16.0=py310h2fee648_0
chardet=5.2.0=pypi_0
charset-normalizer=3.3.0=pypi_0
click=8.1.7=pypi_0
cmake=3.27.6=pypi_0
comm=0.1.4=pypi_0
connected-components-3d=3.12.4=pypi_0
contourpy=1.1.1=pypi_0
cookiecutter=2.5.0=pypi_0
cycler=0.12.0=pypi_0
debugpy=1.8.0=py310hc6cd4ac_1
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
deprecated=1.2.14=pypi_0
dllogger=1.0.0=pypi_0
docker-pycreds=0.4.0=pypi_0
docutils=0.18.1=pypi_0
einops=0.7.0=pypi_0
entrypoints=0.4=pypi_0
evalutils=0.4.2=pypi_0
exceptiongroup=1.1.3=pypi_0
executing=2.0.1=pypi_0
fastjsonschema=2.19.0=pypi_0
filelock=3.12.4=pypi_0
fire=0.5.0=pypi_0
flatbuffers=23.5.26=pypi_0
flow-vis=0.1=pypi_0
fonttools=4.43.1=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.4.0=pypi_0
fsspec=2023.9.2=pypi_0
gast=0.4.0=pypi_0
gitdb=4.0.11=pypi_0
gitpython=3.1.40=pypi_0
gmp=6.3.0=h59595ed_0
google-auth=2.23.2=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.59.0=pypi_0
h5py=3.9.0=pypi_0
hausdorff=0.2.6=pypi_0
humanize=4.8.0=pypi_0
idna=3.4=pypi_0
imageio=2.31.5=pypi_0
imagesize=1.4.1=pypi_0
importlib-metadata=6.8.0=pypi_0
importlib-resources=6.1.1=pypi_0
importlib_metadata=6.8.0=hd8ed1ab_0
importlib_resources=6.1.1=pyhd8ed1ab_0
ipykernel=6.26.0=pypi_0
ipython=8.17.2=pypi_0
ipywidgets=8.1.1=pypi_0
ismrmrd=1.14.0=pypi_0
ismrmrd-python-tools=0.3=pypi_0
isoduration=20.11.0=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.3.2=pypi_0
json5=0.9.14=pypi_0
jsonpointer=2.4=py310hff52083_3
jsonschema=4.20.0=pypi_0
jsonschema-specifications=2023.11.1=pypi_0
jsonschema-with-format-nongpl=4.20.0=pyhd8ed1ab_0
jupyter=1.0.0=pypi_0
jupyter-client=8.6.0=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-events=0.9.0=pypi_0
jupyter-lsp=2.2.0=pypi_0
jupyter-server=2.10.1=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyter_client=8.6.0=pyhd8ed1ab_0
jupyter_console=6.6.3=pyhd8ed1ab_0
jupyter_core=5.5.0=py310hff52083_0
jupyter_events=0.9.0=pyhd8ed1ab_0
jupyter_server=2.10.1=pyhd8ed1ab_0
jupyter_server_terminals=0.4.4=pyhd8ed1ab_1
jupyterlab=4.0.9=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-server=2.25.2=pypi_0
jupyterlab-widgets=3.0.9=pypi_0
jupyterlab_pygments=0.2.2=pyhd8ed1ab_0
jupyterlab_server=2.25.2=pyhd8ed1ab_0
jupyterlab_widgets=3.0.9=pyhd8ed1ab_0
keras=2.10.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.4.5=pypi_0
lazy-loader=0.3=pypi_0
ld_impl_linux-64=2.40=h41732ed_0
libclang=16.0.6=pypi_0
libffi=3.4.2=h7f98852_5
libgcc-ng=13.2.0=h807b86a_2
libgomp=13.2.0=h807b86a_2
libnsl=2.0.0=hd590300_1
libsodium=1.0.18=h36c2ea0_1
libsqlite=3.43.0=h2797004_0
libstdcxx-ng=13.2.0=h7e041cc_2
libuuid=2.38.1=h0b41bf4_0
libzlib=1.2.13=hd590300_5
lightning-lite=1.8.0=pypi_0
lightning-utilities=0.3.0=pypi_0
llvmlite=0.41.1=pypi_0
lml=0.1.0=pypi_0
lxml=4.9.3=pypi_0
markdown=3.4.4=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.3=py310h2372a71_1
matplotlib=3.3.4=pypi_0
matplotlib-inline=0.1.6=pypi_0
mdurl=0.1.2=pypi_0
medutils-mri=0.1.1=pypi_0
mistune=3.0.2=pypi_0
monai=1.3.0=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.4=pypi_0
natsort=8.4.0=pypi_0
nbclient=0.8.0=pypi_0
nbconvert=7.11.0=pypi_0
nbconvert-core=7.11.0=pyhd8ed1ab_0
nbconvert-pandoc=7.11.0=pyhd8ed1ab_0
nbformat=5.9.2=pypi_0
ncurses=6.4=hcb278e6_0
nest-asyncio=1.5.8=pypi_0
networkx=3.1=pypi_0
nibabel=5.1.0=pypi_0
nilearn=0.10.2=pypi_0
notebook=7.0.6=pypi_0
notebook-shim=0.2.3=pypi_0
numba=0.58.1=pypi_0
numpy=1.26.0=pypi_0
nvidia-cublas-cu12=12.1.3.1=pypi_0
nvidia-cuda-cupti-cu12=12.1.105=pypi_0
nvidia-cuda-nvrtc-cu12=12.1.105=pypi_0
nvidia-cuda-runtime-cu12=12.1.105=pypi_0
nvidia-cudnn-cu12=8.9.2.26=pypi_0
nvidia-cufft-cu12=11.0.2.54=pypi_0
nvidia-curand-cu12=10.3.2.106=pypi_0
nvidia-cusolver-cu12=11.4.5.107=pypi_0
nvidia-cusparse-cu12=12.1.0.106=pypi_0
nvidia-dllogger=0.1.0=pypi_0
nvidia-nccl-cu12=2.18.1=pypi_0
nvidia-nvjitlink-cu12=12.2.140=pypi_0
nvidia-nvtx-cu12=12.1.105=pypi_0
oauthlib=3.2.2=pypi_0
odfpy=1.4.1=pypi_0
opencv-python-headless=4.8.1.78=pypi_0
openssl=3.1.4=hd590300_0
opt-einsum=3.3.0=pypi_0
overrides=7.4.0=pypi_0
packaging=23.2=pypi_0
pandas=1.4.2=pypi_0
pandoc=3.1.3=h32600fe_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pathtools=0.1.2=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.0.1=pypi_0
pip=23.2.1=pypi_0
pip-tools=7.3.0=pypi_0
pkgutil-resolve-name=1.3.10=pypi_0
platformdirs=4.0.0=pypi_0
prometheus-client=0.18.0=pypi_0
prometheus_client=0.18.0=pyhd8ed1ab_1
prompt-toolkit=3.0.41=pypi_0
prompt_toolkit=3.0.41=hd8ed1ab_0
protobuf=3.19.6=pypi_0
psutil=5.9.6=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pure_eval=0.2.2=pyhd8ed1ab_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pybind11=2.11.1=py310hd41b1e2_2
pybind11-global=2.11.1=py310hd41b1e2_2
pycparser=2.21=pypi_0
pydicom=2.4.3=pypi_0
pyexcel-io=0.6.6=pypi_0
pyexcel-ods=0.6.0=pypi_0
pygments=2.16.1=pypi_0
pyparsing=3.1.1=pypi_0
pyproject-hooks=1.0.0=pypi_0
pysocks=1.7.1=pypi_0
pystrum=0.4=pypi_0
python=3.10.12=hd12c33a_0_cpython
python-dateutil=2.8.2=pypi_0
python-fastjsonschema=2.19.0=pyhd8ed1ab_0
python-graphviz=0.20.1=pypi_0
python-json-logger=2.0.7=pypi_0
python-slugify=8.0.1=pypi_0
python_abi=3.10=4_cp310
pytorch-lightning=1.8.0=pypi_0
pytz=2023.3.post1=pypi_0
pywavelets=1.5.0=pypi_0
pyyaml=6.0.1=py310h2372a71_1
pyzmq=25.1.1=py310h795f18f_2
qtconsole=5.5.1=pypi_0
qtconsole-base=5.5.1=pyha770c72_0
qtpy=2.4.1=pypi_0
qudida=0.0.4=pypi_0
readline=8.2=h8228510_1
referencing=0.31.0=pypi_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.7.0=pypi_0
rpds-py=0.13.1=py310hcb5633a_0
rsa=4.9=pypi_0
scikit-image=0.22.0=pypi_0
scikit-learn=1.3.2=pypi_0
scipy=1.11.3=pypi_0
seaborn=0.13.0=pypi_0
send2trash=1.8.2=pypi_0
sentry-sdk=1.32.0=pypi_0
setproctitle=1.3.3=pypi_0
setuptools=68.2.2=pypi_0
sigpy=0.1.26=pypi_0
six=1.16.0=pypi_0
smmap=5.0.1=pypi_0
sniffio=1.3.0=pypi_0
snowballstemmer=2.2.0=pypi_0
soupsieve=2.5=pypi_0
sphinx=7.2.6=pypi_0
sphinx-rtd-theme=1.3.0=pypi_0
sphinxcontrib-applehelp=1.0.7=pypi_0
sphinxcontrib-devhelp=1.0.5=pypi_0
sphinxcontrib-htmlhelp=2.0.4=pypi_0
sphinxcontrib-jquery=4.1=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.6=pypi_0
sphinxcontrib-serializinghtml=1.1.9=pypi_0
sphinxjp-themes-basicstrap=0.5.0=pypi_0
stack-data=0.6.2=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
sympy=1.12=pypi_0
termcolor=2.3.0=pypi_0
terminado=0.18.0=pypi_0
text-unidecode=1.3=pypi_0
threadpoolctl=3.2.0=pypi_0
tifffile=2023.9.26=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.13=h2797004_0
tomli=2.0.1=pypi_0
torch=1.11.0+cu113=pypi_0
torchaudio=0.11.0+cu113=pypi_0
torchio=0.19.2=pypi_0
torchmetrics=0.11.4=pypi_0
torchvision=0.12.0+cu113=pypi_0
tornado=6.3.3=py310h2372a71_1
tqdm=4.66.1=pypi_0
traitlets=5.13.0=pypi_0
triton=2.1.0=pypi_0
typeguard=2.13.3=pypi_0
types-python-dateutil=2.8.19.14=pypi_0
typing-extensions=4.8.0=pypi_0
typing-utils=0.1.0=pypi_0
typing_extensions=4.8.0=pyha770c72_0
typing_utils=0.1.0=pyhd8ed1ab_0
tzdata=2023.3=pypi_0
uri-template=1.3.0=pypi_0
urllib3=2.0.6=pypi_0
wandb=0.15.12=pypi_0
wcwidth=0.2.10=pypi_0
webcolors=1.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.6.4=pypi_0
werkzeug=3.0.0=pypi_0
wheel=0.41.2=pypi_0
widgetsnbextension=4.0.9=pypi_0
wrapt=1.15.0=pypi_0
xmltodict=0.13.0=pypi_0
xsdata=23.8=pypi_0
xz=5.2.6=h166bdaf_0
yaml=0.2.5=h7f98852_2
yarl=1.9.3=pypi_0
zeromq=4.3.5=h59595ed_0
zipp=3.17.0=pypi_0
zlib=1.2.13=hd590300_5
